:root {
  --cor-branca: #ffffff;
  --cor-cinza: #333;
  --cor-preta: #000000;
  --cor-link: #573224;
  --cor-ativa: #ffa500;
  --cor-ativa2: #ff9900;
  --cor-borda: #00000057;
  --cor-footer: #F9E955;
  --cor-footer-bottom: #F8D720;
  --cor-footer-text: #666;
  --cor-contraste: #5d3a00;
  --cor-card: #ceac18;
  --cor-amarelo: #FFE600;
  --cor-laranja: #F8A520;
  --cor-destaque: #664032;
  --cor-preco: #ffe8cc;
  --cor-preco-icone: #a86a00;
  --cor-botao: #4a2c1d;
  --cor-botao-hover: #3a2014;
  --cor-botao-hover: #3a2014;
  --cor-hover-card: #a0811c;
  --cor-hover-btn: #ffbb33;
  --cor-glow: rgba(255, 213, 0, 0.6);
  --cor-container: #fff1a6;
}

body.dark-mode {
  --cor-fundo: #000000;
  --cor-texto: #f1f1f1;
  --cor-nome: #ffffff;
  --cor-header: #3b2f00;
  --cor-link: #ffffff;
  --cor-ativa: #eca520;
  --cor-ativa2: #be7f1f;
  --cor-borda: #ffffff2a;
  --cor-footer: #2c2400;
  --cor-footer-bottom: #3a2e00;
  --cor-footer-text: #ffffff;
  --cor-contraste: #fff3c1;
  --cor-card: #3e2d00;
  --cor-amarelo: #d4b600;
  --cor-laranja: #ffa200;
  --cor-destaque: #ffe5a4;
  --cor-preco: #ffe8cc;
  --cor-preco-icone: #ffd000;
  --cor-botao: #77542d;
  --cor-botao-hover: #5a3f21;
  --cor-hover-card: #5c4200;
  --cor-hover-btn: #ffaa33;
  --cor-glow: rgba(255, 213, 0, 0.3);
}

body.dark-mode::before {
  background-color: rgb(0, 0, 0);
}