<link rel="stylesheet" href="./css/cores.css">.search-bar {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 90px;
}
  
.search-bar input {
  transition: box-shadow 0.3s ease;
  width: 600px;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ffdd99;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.search-bar input:focus {
  box-shadow: 0 0 12px var(--cor-hover-btn);
  outline: none;
}

.iconsearch{
  display: inline-block;
  padding: 12px 22px;
  color: var(--cor-link);
  margin-left: -65px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.iconsearch:hover {
  transform: scale(1.2) rotate(5deg);
}
.filtro{
  display: flex;
  flex-direction: row;
  color: var(--cor-link);
}
.filtro i{
   margin-top: 84px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    justify-items: center;
}
.button-filtro{
    margin-top: 70px;
   color: var(--cor-link);
    font-size: 20px;
    text-align: center;
    justify-items: center;
    border: 0;
    background: transparent;
}
.button-filtro i{
  padding-top: 10px;
  font-size: 18px;
}

/* #endregion */

/* #region Perfil- Header*/
.loja-categoria {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #461E14;
}

.perfil-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-left: 15px;
  padding-top: 10px;
}

.perfil-nome-avaliacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
}
.perfil-nome-avaliacao span{
    padding-top: 15px;
}

.perfil-nome-avaliacao img{
    padding-bottom: 10px;
}

.nome-loja {
  font-size: 20px;
  font-weight: bold;
  color: #3a2e2e;
}

.perfil-avaliacao {
  width: 100px;
  height: auto;
}

/* #endregion*/

.carrossel {
    position: relative;
    display: flex;
    align-items: center;
        overflow: hidden;

}
.arrow img {
    width: 30px;
    height: 30px;
}
  
.arrow {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    height: 30px;
}
  
.arrow.left {
    left: 10px;
}
  
.arrow.right {
    right: 10px;
}

  
.arrow:hover {
    color: var(--cor-preco-icone);
}
  
/* #region Container com Produtos*/
.container_produtos{
    
    max-width: 1200px;            
    width: 100%;    
    margin: 0 auto;  
    margin-top: 60px;          
    margin-bottom: 60px;   
    box-sizing: border-box;
    background: var(--cor-container);
    border: 1px solid #461E14;
    border-radius: 20px;
   
}

.cards-container {
    display: flex;
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 20px 55px;
}

  
.card{
    display: flex;
    flex-direction: column;
    height: 310px;
    width: 220px;
    background-color:var(--cor-card);
    border-radius: 16px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: var(--cor-rodape);
    margin: 20px;
    gap: 10px;
}


.foto-produto{
    flex-direction: inherit;
    width: 220px;
    min-height: 220px;
    max-height: 220px;
    border-radius: 15px;

}


.descricao h3 {
    font-size: 18px;
    color:var(--cor-texto);
    padding-left: 10px;
    margin: 0;
}
  
.descricao p {
  font-size: 13px;
  opacity: 1;
  color: var(--cor-subtitulo);
  margin: 2px 0 2px;
  padding-left: 10px;
}
  
.preco-comprar {
    display: flex;
    align-items: center;
   
}
  
.preco {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--cor-texto);
}
  
.icone-preco {
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;

}
  
.valor {
    font-size: 16px;
}
  

.mensagem-vazia {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  margin: 2rem 0;
}

/* #endregion */

/* #region CSS FOOTER--------------------------------------*/
footer {
    background: linear-gradient(150deg, var(--cor-footer), var(--cor-ativa));
    font-family: 'Quicksand', sans-serif;
    color: var(--cor-footer-text);
    text-align: center;
    padding: 20px 0px;
    border-top: 2px solid var(--cor-borda);
    width: 100%;
    box-sizing: border-box;
    height: 170px;
}
  
.footer-top .social-icons {
    margin-bottom: 10px;
}
  
.footer-top .social-icons a {
    margin: 0 8px;
    display: inline-block;
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
  
.footer-top .social-icons a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.footer-top p {
    margin: 5px 0;
    font-size: 14px;
}
  
.footer-bottom {
    background: linear-gradient(150deg, var(--cor-footer-bottom), var(--cor-ativa2));
    margin-top: 15px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; 
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
    color: var(--cor-footer-text);
    width: 100%;
    box-sizing: border-box;
}
  
.footer-bottom a {
    text-decoration: none;
    color: var(--cor-footer-text);
    font-size: 14px;
}
  
.footer-bottom span {
    color: var(--cor-footer-text);
    font-size: 14px;
    text-align: center; 
    flex-grow: 1; 
}
/* #endregion CSS FOOTER--------------------------------------*/

/* #region Modal Descrição do produto */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-borda); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

#product-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cor-borda); 
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  background: var(--cor-fundo);
  padding: 32px;
  border-radius: 20px;
  border: 2px solid var(--cor-laranja);
  width: 850px;
  max-width: 95%;
  display: flex;
  gap: 32px;
  z-index: 10000; 
}

.modal-img {
  width: 50%;
  height: auto;
  background-color: var(--cor-fundo);
  border-radius: 8px;
  object-fit: cover;
}

.modal-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-header {
  margin-bottom: 16px; 
}

.modal-loja {
  display: flex;
  align-items: center;
  gap: 15px;
}

.modal-logo {
  width: 50px;
  height: 50px;
  background-color: var(--cor-fundo);
  border-radius: 50%;
  border: 1px solid var(--cor-botao-hover);
  object-fit: cover;
}

.modal-nome-loja {
  font-weight: bold;
  font-size: 20px;
  color: var(--cor-nome); 
}

.modal-avaliacoes {
  font-size: 14px;
  color: var(--cor-contraste);
  font-weight: bold;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
  color: var(--cor-nome); 
}

.modal-subtitulo {
  font-size: 16px;
  color: var(--cor-footer-text);
  margin-top: -30px;
}

.modal-description{
  font-size: 14px;
  color: var(--cor-footer-text);
  margin-top: -10px;
}

.modal-peso{
  font-size: 16px;
  color: var(--cor-footer-text);
  margin-top: -10px;
}

.modal-price {
  color: var(--cor-footer-text);
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
}

.comentario{
  color: var(--cor-footer-text);
  font-size: 16px;
  margin-top: -5px;
}

#comentario {
  width: 90%;
  min-height: 50px;
  resize: none;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid var(--cor-card);
  background-color: var(--cor-fundo);
  font-size: 14px;
  overflow-y: hidden;
  margin-top: -5px;
}

.modal-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}

.modal-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #d1cccc;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 20px;
}

.qtd-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 4px;
}

.btn-add {
    background-color: var(--cor-botao);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 80px;
    margin-top: 20px;
}

.btn-add:hover {
    background-color: var(--cor-botao-hover);
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 28px;
  background: transparent;
  border: none;
  color: var(--cor-footer-text);
  cursor: pointer;
  z-index: 10;
}

.modal-close:hover {
  color: var(--cor-borda);
}
 /* #endregion */