main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.titulo {
  font-family: "Istok Web", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--cor-link);
  text-align: center;
  width: 100%;
}
  
.container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 900px;
  background-color: var(--cor-branca);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  overflow: hidden;
  border: solid 3px #FEB022;
}
  
.login-box {
  flex: 1;
  padding: 40px;
}
  
  
.image-box {
  flex: 1;
  background-color: var(--cor-container);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
  
.cake {
  max-width: 80%;
  height: auto;
}



@media (max-width: 1024px) {
  nav {
    margin-left: 100px;
    flex-wrap: wrap;
  }

  .link {
    margin-left: 150px;
  }

  .btn-logar,
  .btn-google,
  .btn-facebook {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }

  nav a {
    margin: 5px 0;
  }

  .logo img {
    height: 50px;
  }

  .container {
    flex-direction: column;
    max-width: 90%;
    margin: 20px auto;
  }

  .login-box {
    padding: 20px;
  }

  .image-box {
    display: none; 
  }

  .btn-logar,
  .btn-google,
  .btn-facebook {
    margin-left: 20px;
    margin-right: 20px;
  }

  .link {
    margin-left: 0;
    text-align: center;
  }

  footer {
    height: auto;
    padding: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 10px 20px;
  }
}
