
*{
    font-family: nunito;
}



.body-cadastro {
      background: #fff4e3;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 15% 0%;
      background-size: cover;
    }

    .section-cadastro{
        display: flex;
        justify-content: center;
        margin: 50px 0px;  
    }

    .card-cadastro {
      width: 100vh;
      height: 80vh;
      background: #fff;
      border-radius: 16px;
      padding: 32px;
      box-shadow: 0 20px 60px rgba(0, 0, 0, 0.116);
      transition: opacity .1s, transform .1s;
      transition: opacity .6s ease, transform .6s ease;
      margin: 50px 0px;
    }

    .card.show{
       opacity: 1;
       transform: translateY(0);
    }

    .header-cadastro {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 38px;
      padding: 10px ;
      justify-content: center;
    }

    .icon-box {
      width: 48px;
      height: 48px;
      border-radius: 12px;
      
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 20px;
    }

    .icon-box img{
        width: 130px;
        height: 130px;
    }

    .header-cadastro h2 {
      margin: 0;
      font-size: 49px;
      font-weight: bold;
      font-family: delius;
      color: #612f0e;
    }

    .header-cadastro p {
      margin: 0;
      color: #000000;
      font-size: 17px;
      font-weight: bold
    }

    .progress {
      width: 100%;
      height: 6px;
      background: #e5e5e5;
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 24px;
    }

    .progress-bar {
      height: 100%;
      background: #ffb700;
      width: 50%;
      transition: width .3s;
    }

    .input-group-ca {
      margin-bottom: 18px;
      display: flex;
      flex-direction: column;
      padding: 0px 60px;
      position: relative;   /* <-- ESSENCIAL */
    }

    label {
      margin-bottom: 6px;
      font-weight: bold;
      color: #333;
    }

    input {
      padding: 15px;
      border: 2px solid #612f0e57;
      border-radius: 18px;
      font-size: 15px;
      /* background: #fff0dd; */
      transition: 0.6s;
      padding-left: 25px;   /* espaço para a tranca à esquerda */
      padding-right: 25px
    }

    input:focus {
      border: 2px solid #ffb700;
      outline: none;
      box-shadow: 0px 4px 20px rgba(14, 7, 0, 0.089);
    }

    .btn-container{
        margin: 20px;
        padding: 0px 40px;
    }

    .button {
      width: 100%;
      padding: 22px;
      background: #612f0e;
      border: none;
      border-radius: 30px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      margin-top: 12px;
      transition: 0.3s;
      font-weight: bold;
    }

    .button:hover {
      background: #8a4314;
    }

    .back-button {
      width: 100%;
      border: 1px solid #ffbb00;
      background-color: white;
      cursor: pointer;
      transition: 0.3s;
      color: #ffbb00;
      transition: 0.7s;
    }

    .back-button:hover {
      background: #ffd883;
      color: white;
      border: none;
    }

    .button-row {
      display: flex;
      gap: 12px;
      margin: 20px 0px;
      padding: 0px 60px;
    }


    .hidden-step {
      opacity: 0;
      transform: translateY(10px);
      pointer-events: none;
      position: absolute;
    }

    .visible-step {
        transition: 1s;
        margin: 20px 0px;
        padding: 0px 0px;
    }

    @media (max-width: 480px) {
      body { padding: 20px; }
      .card { width: 100%; }
    }


    .picture{
    
        width: 300px;
        height: 300px;
    }


    .visible-pass {
      position: absolute;
      top: 50%;
      right: 85px; 
      transform: translateY(-50%);
      background: transparent;
      border: none;
      padding: 6px;
      border-radius: 8px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      z-index: 4;
      color: #8a4b36;
    }

    .visible-pass i {
      font-size: 16px;
    }


    .description{
      text-align: center;
      font-size: 19px;
      
    }