.content {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 60px;
}

.container {
  background-color: var(--card);
  width: 100%;
  max-width: 750px;
  padding: 25px 40px;
  border-radius: 24px;
  box-shadow: var(--shadow);
  border: 1px solid var(--accent-yellow);
  transition: background-color 0.3s ease;
  flex: 1 1 auto;
  margin-left: -20px; 
  margin-bottom: 20px;
}

section {
  flex: 1;
  min-width: 300px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
}

thead {
  text-align: left;
}

tr {
  background-color:var(--card);
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: box-shadow 0.3s ease;
}

tr:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.12);
}

thead th {
  padding: 12px 15px;
  text-transform: uppercase;
  color: var(--brown-2);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
}

td {
  padding: 15px 0;
  vertical-align: middle;
  color: var(--brown-2);
  font-size: 16px;
}


.produto {
  display: flex;
  align-items: center;
  gap: 15px;
}

.foto-produto {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  background-color: var(--card);
}

.nome {
  margin: 0;
  padding-bottom: 5px;
  color: var(--brown-2);
  font-weight: 700;
  font-size: 18px;
}

.qtd {
  background: var(--accent-yellow);
  display: inline-flex;
  justify-content: space-around;
  min-width: 50px;
  align-items: center;
  border-radius: 30px;
  padding: 6px 8px;
  box-shadow: inset 0 2px 4px rgba(255,255,255,0.25);
}

.qtd span {
  margin: 0 12px;
  font-weight: 600;
  font-size: 14px;
  color: var(--cor-link);
}

.qtd button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  font-size: 22px;
  padding: 4px;
  border-radius: 30px;
  color: var(--cor-link);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.qtd button:hover {
  background: var(--accent-yellow-2);
  color: var(--cor-branca);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid var(--accent-yellow-2);
  border-radius: 50%;
  background-color: var(--bg);
  position: relative;
  transition: 0.2s;
}

input[type="checkbox"]:checked {
  background-color: var(--accent-yellow-2);
}

input[type="checkbox"]:checked::after {
  content: '✔';
  color: var(--bg);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.remover {
  background: var(--accent-yellow-2);
  border: 0;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: var(--cor-link);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.remover:hover {
  background: var(--cor-ativa2);
  color: var(--cor-branca);
}

aside  {
  flex: 0 0 280px;
  background-color: var(--card);
  border-radius: 20px;
  padding: 30px 30px;
  box-shadow: var(--shadow);
  height: fit-content;
  position: sticky;
  top: 100px;
  color: var(--cor-nome);
  font-weight: 600;
  font-size: 18px;
}

.box-finalizar-compra {
  background: var(--card);
  margin-bottom: 20px;
  border: 1.5px solid var(--accent-yellow-2);
  border-radius: 16px;
  padding: 10px 0px;
  box-shadow: 0 6px 12px rgba(248, 216, 32, 0.25);
}

.conteudo {
  padding: 24px 28px;
  font-size: 17px;
  color: var(--brown-2);
}

.conteudo div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  font-weight: 600;
}

.btn-cupom {
  border: 0;
  background-color: transparent;
  color: #2d862d;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.rodape {
  padding: 18px 28px;
  font-size: 20px;
  background: var(--cor-rodape);
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: var(--accent-yellow-2);
}

.btn-finalizar_compra {
  color: white;
  padding: 16px 0;
  border: 0;
  display: block;
  background-color: #573224;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.301);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-finalizar_compra:hover {
  background: linear-gradient(135deg, #FFB400, #FFD600);
  color: var(--cor-link);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.212);
}

.h3Novidades {
  color: var(--cor-link);
  font-size: 28px;
  margin-left: 80px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-top: 70px;
  margin-bottom: 10px;
}

