@import "modal.css";

.container_opcao{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.opcao{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px; /* <-- Adicionado */
  cursor: pointer;
  width: 650px;
  height: 50px;
  margin-left: auto;
  margin-right:auto ;
  margin-top: 10px;
  background-color: var(--card);
  border-radius: 20px;
  border: 1px solid var(--accent-yellow);
  box-shadow: var(--shadow);
}

.subs {
  flex: 0 0 250px;
  background-color: var(--card);
  border-radius: 20px;
  padding: 5px 20px;
  box-shadow: var(--shadow);
  width: 2px;
  height: fit-content;
  position: sticky;
  margin-top: 50px;
  color: var(--cor-nome);
  font-weight: 700;
  font-size: 18px;
  border: 1px solid var(--accent-yellow);
  align-items: center;
   box-shadow: var(--shadow);

}
.info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h4{
  font-size: 16px;
  margin-top: 5px;
}

.cep{
  background-color: var(--card);
  border-radius: 30px;
  width: 220px;
  height: 30px;
  border: 1px solid var(--accent-yellow);
  box-shadow: var(--shadow);
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  margin-left: -10px;

}

.conteudo {
  padding: 5px 15px;
  font-size: 15px;
  color: var(--brown-2);
}

.conteudo div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  font-weight: 600;

}



.btn-compra {
  color: var(--brown-2);
  padding: 10px 0;
  border: 0;
  display: block;
  margin-top: 10px;
  background-color: var(--accent-yellow-2);
  width: 230px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 6px 16px var(--accent-yellow);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background:var(--accent-yellow);
  box-shadow: 0 8px 20px var(--shadow);
}
