.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 3%;
    margin-bottom: 10%;

}

.item{
    border: 2px solid rgb(104, 104, 104);
    width: 60vh;
    height: 70vh;
    border-radius: 3%;
    background-color: #FFE787;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3%;
}



.item-topicos-flex{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    line-height: 35px;
    gap: 20px;
    font-size: 14px;
}

.item-container-perfil{
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    gap: 20px;
    object-fit: cover;
}

.a-topicos{
    transition: 0.5s;
    border-radius: 20px;    
    width: 100px;
}


.item-nome-email{
  margin-top: 0px;
  margin-bottom: 0px;
}


#nome-exibir{
  margin-bottom: -15px;
  font-weight: bold;
}

#forma-pg{
    width: 200px;
}

#meus-dados{
    width: 120px;
}

#meus-dados:hover{
    width: 120px;
}

.a-topicos:hover{
    background-color: #F8A520;
    color: #ffffff;
    border-radius: 20px;
    width: 100px;
    padding-left: 4%;

}

#image-profile{
    width: 90px;
    border-radius: 50%;
    object-fit: contain;

}

a{
    font-family: "Delius", cursive;
    color: #5B5B5B;
    text-decoration: none;
    transition: all 0.3s ease;
}


.meus-dados{
    background-color: transparent;
    border: 2px solid #FFCC00;
    width: 190vh;
}

.main-title{
    margin-left: 6%;
    text-align: left;
    margin-top: 5%;
    font-size: 40px;
    color: #ffd900;
  text-shadow:
    -1px 1px 0 var(--cor-destaque),  
     1px 1px 0 var(--cor-destaque),
    -1px 1px 0 var(--cor-destaque),
     1px 1px 0 var(--cor-destaque);
}

#title-meus-dados{
    color: #D36900;
    margin-bottom: 3%;
    margin-top: 6%;
}

#name-user{
    font-weight: bold;
}

h1{
    font-size: 25px;
    margin: 10px;
    
}

#titulo-perfil{
    margin: 0;

}

.container-meus-dados {
  display: flex;
  border: 2px solid yellow;
  background-color: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  width: 100vh;
  justify-content: center;
  border-radius: 12px;
  padding: 20px; 
}

.item-meus-dados-flex{
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-radius: 20px;
    height: 100vh;
}

.item-meus-dados{
    width: 350px;
}

input{
    background-color:  #dcdcdc;
    border: 2px solid #dcdcdc;
    border-radius: 12px;
    height: 25px;
    width: 74%;
    margin: 20px;
    transition: 0.5s;
    padding-left: 15px;
    font-size: 12px;
}


label{
    margin: 20px;
    font-weight: bold;    
    color: #D36900;
    font-size: 15px;
}

                                /* CONTAINER DOS BOTÕES */


.item-container-buttons{
    display: flex;
    justify-content: flex-start;
}


#botao-salvar{
    background-color: #B8E033;
    color: white;
}

#botao-editar{
    background-color: #FF7F00;
    color: white;
}

button{
    height: 50px;
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.192);
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

button:hover{
    transform: scale(1.1);
}


                                /* CONTAINER PARA CENTRALIZAR A IMG LOGOUT */

.item-container-logout{
    display: flex;
    align-items: flex-end;
    height: 90vh;
}

.img-logout{
    cursor: pointer;
    width: 30px;
}

footer {
  background: linear-gradient(150deg, var(--cor-footer), var(--cor-ativa));
  font-family: 'Nunito', sans-serif;
  color: #666;
  text-align: center;
  padding: 20px 0px;
  border-top: 2px solid var(--cor-borda);
  width: 100%;
  box-sizing: border-box;
  height: 170px;
}
  
.footer-top .social-icons {
  margin-bottom: 10px;
}
  
.footer-top .social-icons a {
  margin: 0 8px;
  display: inline-block;
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
  
.footer-top .social-icons a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.footer-top p {
  margin: 5px 0;
  font-size: 14px;
}
  
.footer-bottom {
  background: linear-gradient(150deg, var(--cor-footer-bottom), var(--cor-ativa2));
  margin-top: 15px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between; 
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
  color: #666;
  width: 100%;
  box-sizing: border-box;
}
  
.footer-bottom a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}
  
.footer-bottom span {
  color: #666;
  font-size: 14px;
  text-align: center; 
  flex-grow: 1; 
}
  
.editando {
  border: 2px solid #ff6600;
  background-color: #fff;
}

#modal{
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.5); 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
  }

  #modal-item {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    width: 160%;
    height: 90vh;
    display: flex;
    flex-direction: column;
  
    overflow-y: auto; /* barra de rolagem vertical */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--cor-laranja) transparent; /* Firefox */
  }
  
  #modal-item::-webkit-scrollbar {
    width: 8px;
  }
  
  #modal-item::-webkit-scrollbar-track {
    background: transparent;
  }
  
  #modal-item::-webkit-scrollbar-thumb {
    background-color: var(--cor-laranja);
    border-radius: 10px;
    border: 2px solid transparent;
  }
  


.item-meus-dados-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.container-botao{
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
}

.container-endereços{
    display: flex;
    flex-direction: row;
}

.item-endereco-input{
    display: flex;
    flex-direction: column;
}


.container-teste {
      border: 1px solid #FFA500;
      border-radius: 10px;
      padding: 20px;
      width: 480px;
    }

    h2 {
      color: #FFA500;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .endereco-box {
      border-radius: 10px;
      padding: 18px;
      margin-bottom: 15px;
      position: relative;
      background-color: #ffe16a;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05);
      width: 95vh;
      height: 40px;
      cursor: pointer;
    }

    .endereco-box p {
      margin: 0;
      color: #000;
      font-size: 14px;
      line-height: 1;
    }

    .endereco-box p strong {
      display: block;
      font-weight: 600;
      margin-bottom: 4px;
    }

    .numero-endereco {
      position: absolute;
      bottom: 8px;
      right: 12px;
      color: #333;
      font-size: 12px;
    }

    .add-endereco {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70px;
      cursor: pointer;
      text-align: center;
      margin-top: -10px;
    }

    .add-endereco .icone-adicionar {
      font-size: 32px;
      margin-bottom: 5px;
      color: #000;
    }

    .add-endereco p {
      font-size: 13px;
      color: #555;
      margin: 0;
    }

    .add-endereco:hover {
      background-color: #fff3e0;
    }

    #enderecos{
      display: flex;
      flex-direction: column;

 }



 .linha-inputs {
  display: flex;
  gap: 0px;
  justify-content: space-between;
}

.linha-inputs-bottom{
  display: flex;
  gap: 24px;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1; /* faz os inputs ocuparem espaço igual */
}

.input-group label {
  margin-bottom: 0px;
  font-weight: 700;
  color: var(--cor-destaque);
}

.input-group input,
.input-group select {
  background-color: #e6e6e6;
  border-radius: 8px;
  height: 35px;
  padding-left: 15px;
  font-size: 14px;
  transition: 0.5s;
  width: 350px;
  box-sizing: border-box;
}

.input-group input:focus,
.input-group select:focus {
  outline: none;
  border-color: var(--cor-laranja);
  background-color: #fff;
}


.inp-group1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inp-group2{
  display: flex;
  flex-direction: column;
}

select{
  margin-top: 19px;
}


#adicionar{
  background-color: #007a5a;
  color: white;
}

#fechar{
  background-color: rgb(255, 64, 0);
  color: white;
}


.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.fechar {
  float: right;
  font-size: 20px;
  cursor: pointer;
}



.modal-conteudo .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: center;
}

.modal-conteudo input[disabled],
.modal-conteudo select[disabled] {
  background-color: #eee;
}

.modal-conteudo button {
  padding: 10px 20px;
  border: none;
  border-radius: 13px;
  background-color: #ffc107;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.modal-conteudo #btn-editar-endereco{
  background-color: #FF7F00;
}

.modal-conteudo #btn-remover-endereco{
  background-color: #ff2200;
}

.modal-conteudo button:hover {
  opacity: 0.9;
}

.container-botoes{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#edit-tipo{
  width: 70%;
  padding: 10px;
  border-radius: 12px;
  background-color: #dcdcdc;
  font-size: 16px;
  height: 40px;
  margin-left: 30px;
  position: relative;
}
